<section class="container">
  <form class="formulario">
      <h1 class="formulario__titulo">Nova Transferencia</h1>
      <div class="form-field">
          <label class="form-field__label" for="valor">Valor</label>
          <input class="form-field__input" id="valor" type="text">
      </div>

      <div class="form-field">
          <label class="form-field__label" for="destino">Destino</label>
          <input class="form-field__input" id="destino" type="text">
      </div>

      <div class="botao-wrapper">
        <button class="botao">Transferir</button>
      </div>
  </form>
</section>
